*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: linear-gradient(to right, #4F0404, #B50909);
    padding: 15px;
    text-align: center;
}
